@model IEnumerable<PjA2Tp3.Models.Login>

@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>
<h1>Faça seu Login</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Login">Home</a>
        </div>
        <div class="col">
            <a class="nav-link text-dark" asp-area="" asp-controller="Empresa" asp-action="Login">Home</a>
        </div>
    </div>
</div>
