@model IEnumerable<PjA2Tp3.Models.Login>

@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />
</head>


<div class="con">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Para Usuários</h5>
                <p class="card-text">Para ter acesso as funcionalidades de nosso sistema, bastar fazer login em nossa plataforma.</p>
                <a class="nav-link btn btn-dark text-light" asp-area="" asp-controller="UsuarioLogin" asp-action="Login">Entrar</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Para Empresas</h5>
                <p class="card-text">Você empresa que deseja divulgar sua vaga, aqui é o lugar certo. 
                        Faça login e conheça a plataforma.</p>
                <a class="nav-link  btn btn-dark text-light" asp-area="" asp-controller="EmpresaLogin" asp-action="Login">Entrar</a>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
